@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);
body {
  background: -webkit-linear-gradient(#5C5B75, #D6798B) no-repeat;
  background: linear-gradient(#5C5B75, #D6798B) no-repeat;
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: 700px;
          perspective: 700px;
}

.phone {
  width: 450px;
  height: 667px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 10px auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.phone .nav {
  height: 50px;
  background: #3D454A;
  padding: 3px;
  position: absolute;
  width: 100%;
  z-index: 999;
}
.phone .nav .burger {
  /*more hamburgers here: "http://codepen.io/Ridyal/pen/xwgQOo" */
  display: block;
  position: absolute;
  width: 40px;
  padding: 5px;
}
.phone .nav .burger:hover {
  cursor: pointer;
}
.phone .nav .burger .bar {
  height: 5px;
  width: 100%;
  background: #eee;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 5px;
  border-radius: 5px;
}
.phone .nav .burger .bar:hover {
  cursor: pointer;
}
.phone .nav .multiply .bar:first-child {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}
.phone .nav .multiply .bar:last-child {
  -webkit-transform: translateY(-10px) rotate(45deg);
          transform: translateY(-10px) rotate(45deg);
}
.phone .nav .multiply .bar:nth-child(2) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0;
}

.phone .logo {
  display: block;
  text-align: center;
}

.phone .logo h1 {
  font-family: "Lily Script One", cursive;
  font-size: 37px;
  margin: 0;
  padding: 0;
  color: #eee;
}

/*
.phone .user {
  box-sizing: border-box;
  position: absolute;
  top: 5px;
  right: 15px;
}*/


.phone .options {
  display: block;
  list-style: none;
  width: 100%;
  margin: 50px 0 0 0;
  padding: 0;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
}
.phone .options .option {
  display: block;
  width: 100%;
  padding: 20px;
  color: #eee;
  box-shadow: inset 0 5px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.phone .options .option a {
  text-decoration: none;
  color: inherit;
}
.phone .options .option:nth-child(odd) {
  background: #C17487;
}
.phone .options .option:nth-child(odd):hover {
  background: #d0657a;
}
.phone .options .option:nth-child(even) {
  background: #675E77;
}
.phone .options .option:nth-child(even):hover {
  background: #515067;
}
.phone .pic {
  display: block;
  background: url("pink.jpg") no-repeat;
  background-size: cover;
  height: 292px;
}
.phone .pic .pic-color {
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(#5C5B75, #D6798B) no-repeat;
  background: linear-gradient(#5C5B75, #D6798B) no-repeat;
  opacity: 0.5;
  box-shadow: inset 0 5px 2px rgba(0, 0, 0, 0.2), 0 5px 2px rgba(0, 0, 0, 0.2);
}
.phone .content {
  height: 450px;
  padding: 0 15px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.86);
  overflow: scroll;
}
.phone .content::-webkit-scrollbar {
  width: 0.5em;
}
.phone .content::-webkit-scrollbar-thumb {
  background-color: #bdc4c9;
}
.phone .content .info {
  display: block;
}

.footer {
  font-size: 20px;
  margin-top: 50%;
}
